[package]
name = "text-crdt-rust"
version = "0.1.0"
authors = ["Seph Gentle <me@josephg.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
inlinable_string = "0.1.11"
ropey = "1.1.0"
smallvec = "1.4.0"
