* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #9d35db;
}

textarea {
  position: fixed;
  height: calc(100vh - 4em);
  width: calc(100vw - 4em);
  margin: 2em;
  resize: none;
  padding: 1.2em;
  border: 5px solid #0f0d6b;

  font-family: monospace;
  font-size: 16px;

  color: #87001d;
  background-color: #f9fff9;
}

textarea:focus {
  outline: none;
}

#statusContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  /* transform: translateY(-50%); */
}

#statusContainer > * {
  background-color: rgb(218, 33, 95);
  padding: 3px;

  transition: 0.2s linear;
  transition-property: transform background-color;
}

#statusContainer > *.connected {
  background-color: rgb(48, 218, 33);
  transform: translateY(-100%);
}
#statusContainer > *.connected::before {
  content: 'Yay'
}

#statusContainer > *.connecting {
  background-color: rgb(218, 33, 95);
}
#statusContainer > *.connecting::before {
  content: 'Connecting...'
}

#statusContainer > *.waiting {
  background-color: rgb(218, 33, 95);
}
#statusContainer > *.waiting::before {
  content: 'Disconnected!! Waiting to reconnect...'
}

#info {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 1em;
  white-space: pre;
  font-family: monospace;
  font-size: 16px;
}

#showInfo {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 30%;
}